<div class="panel panel-default">
    <div class="panel-heading">
        <div class="row">
            <div class="col-lg-6">
                <h3 class="panel-title">Manage products</h3>
            </div>
            <div class="col-lg-6">
                <div class="input-group">
                    <input #txt type="text" class="form-control" >
                    <span class="input-group-btn">
                        <button on-click="search(txt.value)" class="btn btn-default" type="button">Go!</button>
                    </span>
                </div>
            </div>
        </div>
    </div>
    <div class="panel-body">
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th>#</th>
                    <th>Name</th>
                    <th>Price</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let product of products; let i = index;">
                    <th scope="row">{{ i+1 }}</th>
                    <td>{{ product.name }}</td>
                    <td>{{ product.price }}</td>
                    <td>
                        <a class="btn btn-info" [routerLink]="['/product-edit',i]">Edit</a> |
                        <!-- <a class="btn btn-danger" [routerLink]="['/product-delete',i]">Delete</a> -->
                        <a class="btn btn-danger" data-toggle="modal" data-target="#myModal" 
                        on-click="handleDeleteItem(i)">Delete</a>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>

<!-- Button trigger modal -->

  <!-- Modal -->
  <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title" id="myModalLabel">Modal title</h4>
        </div>
        <div class="modal-body">
          Ban co chac chan xoa {{ nameDelete }} hay khong ?
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          <button type="button" class="btn btn-primary" on-click="doDelete(idDelete)">Save changes</button>
        </div>
      </div>
    </div>
  </div>